.input-box
{
    display: block;
    margin: 20px auto;
    width: 300px;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}
.form-container
{
  margin: 20px auto;
  border: 2px solid black;
  border-radius: 10px;
  width: 400px;
  background-color: rgb(181, 243, 222);
  height:auto;
  padding-top: 40px;
  padding-bottom: 20px;
}
.btn1
{
    display: block;
    margin: auto;
    font-size: 20px;
border-radius: 10px;
cursor: pointer;padding: 10px;
background-color: aquamarine;
width: 150px;

border-radius: 20px;

color: green;
font-size: 20px;
justify-content: center;
padding: 5px ;
text-decoration: none;
font-weight:600;
}
.btn1:hover
{
  

background-color: rgb(71, 255, 178);
transition: 1sec;

}
body
{
    background-color: rgb(231, 221, 208);
}
.heading
{
    text-align: center;
    margin: 40px;
}

link
{
    text-align: center;
    margin: 10px auto;
}